<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>방탈출 어드민</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">
        <img alt="LOGO" src="/image/admin-logo.png" style="height: 40px;">
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/reservation">Reservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/theme">Theme</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/time">Time</a>
            </li>
            <!--      [4단계] 사용자 로그인 - 로그인 기능 구현 후 활성화-->
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="navbarDropdown" role="button">
                    <img alt="Profile" class="profile-image" src="/image/default-profile.png">
                    <span id="profile-name">Profile</span> <!-- 프로필 이름을 넣을 span 추가 -->
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/reservation-mine">My Reservation</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="logout-btn">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="content-container">
    <h2 class="content-container-title">방탈출 예약 페이지</h2>
    <div class="d-flex">
        <div class="table-container flex-grow-1 mr-3">
            <div class="table-header d-flex justify-content-end">
                <button class="btn btn-custom mb-2" id="add-button">예약 추가</button>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>예약번호</th>
                    <th>예약자</th>
                    <th>테마</th>
                    <th>날짜</th>
                    <th>시간</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <div class="filter-section ml-3">
            <form id="filter-form">
                <div class="form-group">
                    <label for="member">예약자</label>
                    <select class="form-control" id="member" name="member" type="text">
                        <option style="display:none"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="theme">테마</label>
                    <select class="form-control" id="theme" name="theme" type="text">
                        <option style="display:none"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date-from">From</label>
                    <input class="form-control" id="date-from" name="date-from" type="date">
                </div>
                <div class="form-group">
                    <label for="date-to">To</label>
                    <input class="form-control" id="date-to" name="date-to" type="date">
                </div>
                <button class="btn btn-primary float-right" type="submit">적용</button>
            </form>
        </div>
    </div>
</div>

<!-- [4단계] 사용자 로그인 - 로그인 기능 구현 후 활성화-->
<script src="/js/user-scripts.js"></script>


<!--
[5단계] 예약 생성 기능 변경 - 관리자
reservation-new.js 파일 대신 reservation-with-member.js 파일 사용
-->
<!--<script src="/js/reservation-new.js"></script>-->
<script src="/js/reservation-with-member.js"></script>
</body>
</html>
