spring:
  datasource:
    url: jdbc:h2:mem:roomescape
    username: sa
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true

security:
  jwt:
    token:
      secret-key: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIiLCJuYW1lIjoiSm9obiBEb2UiLCJpYXQiOjE1MTYyMzkwMjJ9.ih1aovtQShabQ7l0cINw4k1fagApg3qLWiB8Kt59Lno
      expire-length: 3600000
  password:
    salt: 4o0coJC44Iflk5+r9xDsvQ==
